---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi 👋,</div>
    <div class="text-5xl font-bold">I'm Shubham</div>
    <div class="text-3xl py-3 font-bold">Engineer - Software Development</div>
    <div class="py-2">
      <text class="text-lg">
        <div>Currently, working with <a href="https://www.greyorange.com/" target="_blank">GreyOrange</a>, helping Product Architects in the initial development of the product and POCs. 
          This is the corner on internet where I share my interesting works and learnings. 
        </div>

      </text>
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

<div class="mt-8 flex justify-center items-center">
  <a href="/blog" class="btn btn-outline ml-5">
    View More
  </a>
</div>
</BaseLayout>
