---
import Layout from "@layouts/Layout.astro";
---
<Layout>
    <div class="flex flex-row flex-auto justify-center" style="width: 21cm; height: 29.7cm;">
        <div class="flex flex-col basis-1/2 items-center right-1">
            <h1 class="bg-sky-500">Shubham Kumar</h1>
            <h3>Engineer - Software Development</h3>
        </div>
        <div class="flex flex-col basis-1/2 items-center">
            2
        </div>
    </div>
</Layout>