---
import { Icon } from "astro-icon";

const icons = [
  {
    name: "Posts",
    href: "/posts",
    icon: "eva:book-open-outline",
  },
  {
    icon: "eva:github-outline",
    href: "https://github.com/UnresolvedCold",
  },
  {
    icon: "eva:twitter-outline",
    href: "https://twitter.com/schwiftycold",
  },
  {
    icon: "ph:telegram-logo",
    href: "https://t.me/schwiftyblogs",
  },
  {
    icon: "eva:linkedin-outline",
    href: "https://linkedin.com/in/schwiftycold",
  },

  {
    name: "RSS",
    href: "/rss.xml",
    icon: "ph:rss-simple-bold",
  },
];
---

<header
  class="dark:bg-zinc-900 bg-white max-w-4xl m-auto transition-colors motion-reduce:transition-none"
>
  <a
    href="/"
    class="flex h-8 w-8 text-2xl text-black dark:text-zinc-300 hover:dark:text-white transition-colors motion-reduce:transition-none absolute m-8"
    ><img class="object-scale-down mr-2" src="/icon.png" alt="blog icon" /> shubham.codes</a
  >
  <nav class="p-8">
    <ul class="flex justify-end items-center m-0">
      <li>
        <ul class="flex flex-row space-x-4">
          {
            // For Large Screens
            icons.map((desktop_ico) => (
              <li>
                <a
                  href={desktop_ico.href}
                  target="_blank"
                  rel="noopener nofollow"
                  aria-label="github logo"
                  class="group hidden sm:block text-black dark:text-zinc-400 hover:text-zinc-500 dark:hover:text-white transition-colors motion-reduce:transition-none text-xl"
                >
                  <Icon
                    name={desktop_ico.icon}
                    class="w-7 text-black dark:text-white hover:text-zinc-500 dark:hover:text-zinc-400 transition-colors motion-reduce:transition-none sm:group-hover:animate-spin"
                  />
                </a>
              </li>
            ))
          }
          <li>
            <a
                  href="/aboutme"
                  target="_blank"
                  rel="noopener nofollow"
                  aria-label="github logo"
                  class="group flex flex-row text-black dark:text-zinc-400 hover:text-zinc-500 dark:hover:text-white transition-colors motion-reduce:transition-none text-xl"
                >
              <Icon
                name="ph:brackets-square"
                class="w-7 text-black dark:text-white hover:text-zinc-500 dark:hover:text-zinc-400 transition-colors motion-reduce:transition-none sm:group-hover:animate-spin"
              />
            </a>
          </li>
          <li>
            <button class="group theme-toggle pointer" aria-label="theme toggle">
              <Icon
                name="charm:moon"
                class="w-7 hover:text-zinc-500 dark:hover:text-zinc-400 transition-colors motion-reduce:transition-none dark:hidden sm:group-hover:animate-spin"
              />
              <Icon
                name="akar-icons:sun"
                class="w-7 dark:text-white hover:text-zinc-500 dark:hover:text-zinc-400 transition-colors motion-reduce:transition-none hidden dark:block sm:group-hover:animate-spin"
              />
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <ul class="flex justify-center items-center m-0">
    <li>
      <ul class="flex flex-row space-x-4">
        {
          icons.map((mobile) => (
            <li class="sm:hidden">
              <a href={mobile.href}>
                <Icon
                  name={mobile.icon}
                  class="w-7 text-black dark:text-white hover:text-zinc-500 dark:hover:text-zinc-400 transition-colors motion-reduce:transition-none"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </li>
  </ul>
</header>
